@page "/company"
@using DevShop.Data
@inject IUnitOfWork uow
@inject NavigationManager nav
@attribute [Authorize(Roles = "7")]
@layout ManagementLayout



<h1 class="bm18">Companies</h1>
@if (companies != null)
{
    <div id="managementSelectBox">
        <select @onchange="@((e) => ChangeCompany(e))">
            <option value="0">Please select a company</option>
            @foreach (var _company in companies)
            {
                <option value="@_company.CompCode">@_company.CompCode.Substring(0, 2) - @_company.CompName</option>
            }
        </select>
        <br /><br />
        <a class="mIcon mIconNew backSignalColor hoverBackDarkSignalColor" href="./company/create"></a>
    </div>
}
else
{
    <span>
        Loading ...
    </span>
}