@page "/unit"
@using DevShop.Data
@inject IUnitOfWork uow
@inject NavigationManager nav
@attribute [Authorize(Roles = "7")]
@layout ManagementLayout



<h1>Units</h1>
@if (units != null)
{
    <select @onchange="@((e) => ChangeUnit(e))">
        <option value="0">Please select a Unit</option>
        @foreach (var _unit in units)
        {
            <option value="@_unit.UnitCode">@_unit.UnitCode - @_unit.UnitName</option>
        }
    </select>
    <br /><br />
    <a href="./unit/create">
        Create a new Unit
    </a>
}
else
{
    <span>
        Loading ...
    </span>
}