@page "/category"
@using DevShop.Data
@inject IUnitOfWork uow
@inject TreeBuilder treeBuilder
@attribute [Authorize(Roles = "7")]



<h1>Categories</h1>
@if (!string.IsNullOrEmpty(treeViewMarkup.Value))
{
    <div>
        @treeViewMarkup
    </div>
    <br /><br />
    <a href="./category/create">
        Create a new category
    </a>
}
else
{
    <span>
        Loading ...
    </span>
}