@page "/article-header/{CompCode}/{ProductGroupNr}/{ProductNr}"
@using DevShop.Data
@inject IUnitOfWork uow
@attribute [Authorize(Roles = "7")]
@layout PopupLayout



<h1>Article-Header</h1>
@if (artHeader != null)
{
    <EditForm Model="artHeader" OnValidSubmit="Save" OnInvalidSubmit="Error">
        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <b>@errorMessage</b>
            <br /><br />
        }


        <input type="text" maxlength="50" placeholder="F1" @bind="artHeader.F1name"><br>
        <input type="text" maxlength="50" placeholder="F2" @bind="artHeader.F2name"><br>
        <input type="text" maxlength="50" placeholder="F3" @bind="artHeader.F3name"><br>
        <input type="text" maxlength="50" placeholder="F4" @bind="artHeader.F4name"><br>
        <input type="text" maxlength="50" placeholder="F5" @bind="artHeader.F5name"><br>
        <input type="text" maxlength="50" placeholder="F6" @bind="artHeader.F6name">
        <br /><br>
        <input type="submit" value="Save">
        @if (isEdit)
        {
            <input type="button" value="Delete" @onclick="@(() => Delete())" />
        }
    </EditForm>
}
else
{
    <div>
        Loading ...
    </div>
}