@inherits LayoutComponentBase



<PageTitle>DevShop</PageTitle>

<link rel="stylesheet" href="./css/DevShop.css" />
<div id="shopContainer" class="relative minVh100">
    <header>
        <MainMenu />
    </header>
    <main class="hp18 tp18">
        <article class="content tpMenu bpFooter">
            @Body
        </article>
    </main>
    <footer>
        <div id="shopFooter" class="center hp18 vp9 backMediumGray absolute col1">
            DevShop - created by Benjamin Knoll 2022/2023
        </div>
    </footer>
</div>
