@inherits LayoutComponentBase



<PageTitle>DevShop</PageTitle>

<link rel="stylesheet" href="./css/DevShop.css" />
<div class="page">
    <header>
        <MainMenu />
    </header>
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
    <footer>
        FOOTER
    </footer>
</div>
