@inherits LayoutComponentBase



<PageTitle>
    DevShop - Backend
</PageTitle>

<link rel="stylesheet" href="./css/Management.css" />
<div id="managementContainer">
    <header>
        <ManagementMenu />
    </header>
    <main>
        <article>
            @Body
        </article>
    </main>
    <footer>
        THIS IS THE MANAGEMANT PAGE ONLY ACCESSIBLE TO ADMINS
    </footer>
</div>