@inject TokenProvider _tokenProvider



<div>
    <div>
        <ul>
            <li>
                <a href="./product-group">
                    Articles
                </a>
                <ul>
                    <li>
                        <a href="./category">
                            Categories
                        </a>
                    </li>
                    <li>
                        <a href="./product-group">
                            Product-Groups
                        </a>
                    </li>
                    <li>
                        <a href="./product">
                            Products
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="./country">
                    Location
                </a>
                <ul>
                    <li>
                        <a href="./country">
                            Countries
                        </a>
                    </li>
                    <li>
                        <a href="./state">
                            States
                        </a>
                    </li>
                    <li>
                        <a href="./city">
                            Cities
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="./user">
                    User
                </a>
                <ul>
                    <li>
                        <a href="./company">
                            Companies
                        </a>
                    </li>
                    <li>
                        <a href="./role">
                            Roles
                        </a>
                    </li>
                    <li>
                        <a href="./user">
                            Users
                        </a>
                    </li>
                    <li>
                        <form method="post" action="/logout">
                            <input type="hidden" name="__RequestVerificationToken" value="@_tokenProvider.AntiForgeryToken">
                            <input type="submit" value="logout">
                        </form>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>