@page "/login"
@model DevShop.Pages.Views.Authentication.LoginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers



<form method="post">
    <h1>Login</h1>
    <div>
        E-Mail/Username<br />
        <input asp-for="LoginForm.UserName" type="text" />
    </div>
    <div>
        Password<br />
        <input asp-for="LoginForm.Password" type="password" />
    </div>
    <input type="submit" value="login" />
</form>